body {
  background-color: pink;
  font-size: 10px;
}

.container-fluid {
  background: url('../images/hbgwhite.png') no-repeat fixed left bottom;
  background-size: 25%;
}

.header {
  background-color: white;
  padding: 2em;
  margin-top: 5em;
}

.header h1 {
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  font-size: 4em;
}

.header p {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 1em;
}

.main-form {
  position: relative;
  margin-top: 2em;
  padding: 0;
}

.form-head {
  font-family: 'Dosis', sans-serif;
  background: #87ecef;
  font-size: 2em;
  font-weight: 300;
  padding: 1em 2em;
  position: absolute;
  left: 0;
  top: 27px;
  color: white;
  width: 100%;
  z-index: 10;
}

.about-food .form-head {
  background: #bc9fde;
}

.form-head:before {
  content: '';
  border: 8px solid;
  border-top-color: transparent;
  border-right-color: #66afb1;
  border-bottom-color: #66afb1;
  border-left-color: transparent;
  position: absolute;
  top: -16px;
  left: 0;
}

.about-food .form-head:before {
  border-right-color: #8f79a9;
  border-bottom-color: #8f79a9;
}

.questions {
  background: white;
  padding: 8em 0 0;
  font-size: 1.4em;
  min-height: 350px;
  position: absolute;
  top: 0;
  right: 0;
  left: 16px;
  bottom: 18px;
  box-shadow: 2px 2px 3px #c59898;
}

.questions div {
  margin-bottom: 10px;
}

.holder {
  padding: 0 1em;
}

label {
  width: 65px;
  text-align: right;
  margin-right: 10px;
}

.glyphicon-star-empty {
  font-size: 1.2em;
  vertical-align: text-top;
}

.about-you, .about-food {
  display: block;
  position: relative;
  height: 370px;
}

.about-you .questions input[type="number"], input[type="text"] {
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  }

input[type="radio"] {
  margin: 4px 8px;
}

input[type="text"] {
  width: 80%;
}

button.next {
  float: right;
  margin-right: 1em;
}